*{
    -webkit-box-sizing: border-box;
	-moz-transition-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    /*Usar Linear Gradient p/ ficar melhor*/    
    background-image: linear-gradient( to bottom, white, rgb(0, 247, 251) ); 
    /*background-color: #79DBD2;*/

    margin: 0;
    width: 100%;
    height: 100vh;

    font-family: 'Roboto', sans-serif;    

    display: grid;
    align-items: center;
    justify-content: center;    
}

main{
    height: 100%;

    display: flex;
    align-items: center;
}

.button {
    padding: 0;

    display:flex;
    align-items: center;
    justify-content: center;
}

.button #botao{
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
}

main #botao{
    margin-top: 10vh;

    border-radius: 20px;
    cursor: pointer;
    padding: 0;
    background: none;
    background-color: #f53279;
    color: #f3f3f3;
    border: none;

    font-size: 40px;

    width: 400px;
    height: 50px;

    box-shadow: 0 8px 16px rgba(62, 134, 127, 0.5);

    align-self: center;
}                                                                                                       

main #botao:hover{
    transition: 400ms;
    background-color: rgb(93, 179, 170);
    color: #f3f3f3;
}

footer{
    margin: 0;
    text-align: center;
}

footer p {
    margin: 0;
}

.pezinho a{
    text-decoration: none;
    color: black;
    font-weight: 400;

    cursor: pointer;
}

.pezinho a:hover{
    font-weight: bold;
    color: #f53279;
    transition: 100ms;
}

.forma1{
    box-shadow: 0 8px 16px rgba(62, 134, 127, 0.5);
}

.forma1, .forma2 {
    background-color: #f3f3f3;

    height: 100px;
    width: 1000px;

    border-radius: 67px;

    display: grid;
    align-items: center;
    justify-content: center;
}

.forma2 {
    background-color: #ffa4cd;

    height: 90px;
    width: 900px;

    font-size: 60px;
    font-weight: bold;

    color: #f3f3f3;
}

header{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #f3f3f3;
    font-size: 80px;

    height: 60%;
    max-height: 100%;
}

#title{
    font-family: 'Kaushan Script', cursive;
    font-size: 150px;
    margin: 0;
    color: #f53279;
}

#modal{
    background-image: linear-gradient( to left, #f53279, rgb(93, 179, 170)); 

    position: absolute;
    top: 0;
    width: 120vw;
    height: 120vh;

    display: flex;
    justify-content: center;
}

#modal .content{
     margin-top: 128px;
     color: white;
}

#modal .content h1{
    text-align: center;
    text-transform: uppercase;
    
}

#modal form{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.input-wrapper{
    margin: 16px 0;
  
}

form input,form textarea{
    font-family: 'Roboto', sans-serif;    
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #f3f3f3;
    outline: none;

}

form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.4px;
}

form button{
    background: white;
    width: 60px;
    border-radius: 5px;
    color: black ;
    font-family: 'Roboto', sans-serif; 
    border: 1px solid #f3f3f3;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(93, 179, 170);
    color: whitesmoke;
    transition: 170ms;
    text-decoration: none;
}

#modal.hide{
    display: none;
}

button#AAA{
    display: flex;
    background: #f53279;
    color: white;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0;
    width: 70px;


    position: absolute;
  

    display: flex;
    justify-content: center;
    margin-left: 400px;
    margin-top: 20px;

    width: 200px;
    height: 30px;

    font-weight: 600;
    cursor: pointer;
}

form a{
    background-color: white;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 20px;
    border-radius: 6px;
    text-decoration: none;

    margin-top: 8px;

    cursor: pointer;

    border: 1px auto #f3f3f3;
}

form a:hover{
    color: white;
    background-color: rgb(93, 179, 170);
    transition: 170ms;
    text-decoration: none;
}
